body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #455eeb;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 30px;
    margin-top: 10px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
